.container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
}

.center {
    text-align: center;
}

.group-item {
    margin-left: 1%;
    margin-right: 1%;
}

google-chart {
    display: block;
    margin: 0 auto;
}

.exchangeMode {
    padding-top: 5%;
}

.exchange-item {
    display: inline-block;
    padding-right: 3%;
    padding-left: 3%;
}

.label {
    font-size: 1.2rem;
}

hr {
    border: 0.5px solid black;
    width: 60%;
}

.mat-button-toggle-checked {
    color: #673AB7;
}

.centerGlobal {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}