<div class="container">
    <div class="centerGlobal" *ngIf="loadingGlobal">
        <mat-spinner [diameter]="70"></mat-spinner>
    </div>
    <div *ngIf="!loadingGlobal" class="center">
        <form #formDirective="ngForm" [formGroup]="currencyForm" (ngSubmit)="transfer(formDirective)">
            <div class="exchangeMode row">
                <mat-form-field class="exchange-item">
                    <mat-label>Base currency</mat-label>
                    <mat-select formControlName="base">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                            {{currency.code}} - {{currency.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <i class="material-icons">
                    arrow_forward_ios
                </i>
                <mat-form-field class="exchange-item">
                    <mat-label>Target currency</mat-label>
                    <mat-select formControlName="target">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                            {{currency.code}} - {{currency.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <br />
            <div class="row">
                <button color="primary" [disabled]="!currencyForm.valid" type="submit" mat-raised-button>
                    <mat-spinner [diameter]="30" *ngIf="loadingRate"></mat-spinner>
                    <span *ngIf="!loadingRate">EXCHANGE</span>
                </button>
            </div>
        </form>
        <br />
        <br />
        <mat-label *ngIf="rate" class="label">{{rate}}</mat-label>
        <br />
        <br />
        <br />
        <hr />
        <br />
        <div class="row">
            <form [formGroup]="plotForm" (ngSubmit)="generatePlot()">
                <mat-button-toggle-group formControlName="mode" class="group-item" name="fontStyle"
                    aria-label="Font Style">
                    <mat-button-toggle value="{{plotMode.DAILY}}">DAILY</mat-button-toggle>
                    <mat-button-toggle value="{{plotMode.WEEKLY}}">WEEKLY</mat-button-toggle>
                    <mat-button-toggle value="{{plotMode.MONTHLY}}">MONTHLY</mat-button-toggle>
                </mat-button-toggle-group>
                <mat-form-field class="group-item">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency">
                        <mat-option *ngFor="let currency of currencies" [value]="currency.code">
                            {{currency.code}} - {{currency.description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName="date" [matDatepickerFilter]="myFilter" matInput [matDatepicker]="picker" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <button class="group-item" color="primary" [disabled]="!plotForm.valid || plotForm.controls.date.status === 'DISABLED'" type="submit" mat-raised-button>
                    <mat-spinner [diameter]="30" *ngIf="loadingPlot"></mat-spinner>
                    <span *ngIf="!loadingPlot">GENERATE PLOT</span>
                </button>
            </form>
        </div>
        <div class="center">
            <google-chart *ngIf="googleChart.show" #chart [title]="googleChart.title" [type]="googleChart.type" [data]="googleChart.data"
                [columnNames]="googleChart.columnNames" [options]="googleChart.options">
            </google-chart>
        </div>
    </div>
</div>