/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}

body {
    min-height: 100%;
}

.container {
    display: block;
    height: 100vh;
}